*{
    margin:0;
    padding: 0;
}
.wrap{
    width:100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    background: url("./img/BGfp.png");
}
#phone_btn{
    position: absolute;
    opacity: 0;
}
.mid_text{
    display: flex;
    flex-basis: 100%;
    margin-top: 12vh;
    height: 32vh;
    background-color: white;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.m_t_1 {
    flex-basis: 65%;
    height: 32vh;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
}


#text1{
    height: 10vh;
}
.m_t_1 img{
    width:100%;
    height: 20vh;
}

.m_t_3{
    flex-basis: 20%;
    display: flex;
    margin-left: 1vw;

}
.footer_text{
    flex-basis: 100%;
    display: flex;
    height: auto;
}
.clock{
    flex-basis: 40%;
    height: 56vh;
}
.clock img{
    width: 100%;
    height: 56vh;
}
.text_fotter{
    flex-basis: 64%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    align-content: flex-start;
}
.text_1{
    flex-basis: 80%;
    padding: 1vw;
    height: 30vh;
}
.text_1 img{
    width: 100%;
    height: 30vh;
}
.text_2{
    flex-basis: 40%;
    padding: 1vw;
}
.text_2 img{
    width: 100%;
    height: 12vh;
}
.text_3{
    margin:3vh 0 0 5vw;
    flex-basis: 40%;
}
.text_3 img{
    width: 100%;
    height: 20vh;
    cursor: pointer;
}
.mobile{
    display: none;
}
@media screen and (max-width: 1024px) {
    .wrap{
        display: none;
    }
    .mobile{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url("./img/фон4.png")
    }
    #phone_btn{
        opacity: 1;
    }
    .btn_mobile{
        position: absolute;
        left:60%;
        top:30%;

    }
    #imgphone{
        width: 100px;
        height: 100px;
    }


    .mobile img{
        width: 60vw;
        height: 100vh;
    }
    .clock{
        flex-basis: 55%;
        height: 56vh;
    }
    .clock img{
        width: 100%;
        height: 40vh;
    }
    .text_1{
        flex-basis: 100%;
        height: 20vh;
    }
    .text_1 img{
        height: 20vh;
    }
    .text_2{
        flex-basis: 55%;
    }

    .text_3{
        margin-left:0;
        flex-basis: 40%;
    }
}
@media screen and (max-width: 600px) {
    .wrap{
        display: none;
    }
    .mobile{
        display: flex;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    .mobile img{
        width: 100vw;
        height: 100vh;
    }
}