@import url('https://fonts.googleapis.com/css?family=Impact');

*{
    padding: 0;
    margin:0;

}
body{

}
.wrap{
    max-height: 100vh;
    width: 100vw;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    background-color: #f3f3f3;
    overflow: hidden;
}
.icons_mid_res2{
    display: none;
}
.logo2{
    display: none;
}
.logo{
    flex-basis: 100%;
    height: 3vh;
    display: flex;
    justify-items: flex-end;
    align-items: center;
}
.logo img{
    width: 300px;
    height: 300px;
    position: absolute;
    right: 0.5vw;

}

.header_text{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: rgb(285,160,86);
    font-size: 4.5em;
    font-family: Impact,fantasy;
    padding: 5vh 0 5vh 0;
    color:white;
}
.header_text_2{
    /*background-color: black;*/
    height: 10vh;
    flex-basis: 100%;
    display: flex;
    font-family: Arial, sans-serif ;
    padding: 4vh 0 4vh 0;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgb(114,182,212);
}
.header_text_2_1{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-size: 2.5em;
    text-align: center;
    color: white;
}
.mid_test{
    display: flex;
    flex-basis: 60%;
    margin-top: 2vh;
    background-color: white;
    padding: 0 3vw 0 3vw;
    height: 56vh;
    flex-wrap: wrap;
    overflow-y: auto;
}
.mid_test::-webkit-scrollbar{
    display: none;
}
.question{
    display: none;
    margin-top: 5vh;
    flex-basis: 100%;
    flex-wrap: wrap;


}
.answ{
    flex-basis: 100%;
    font-size: 2em;
    font-weight: 700;
    font-family: Arial, sans-serif ;

}
.answ_1{
    flex-basis: 60%;
    padding: 1vw;
    font-size: 2em;
    border:4px dashed rgb(114,182,212);
    margin-top: 2vh;
    transition: 0.5s all;
    cursor: pointer;
}
.answ_1:hover{
    transform: scale(1.1);
}
.progress_bar{
    flex-basis: 100%;
    overflow: hidden;
    height: 1vh;

}
.finish{
    flex-basis: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    cursor: pointer;
}
.finish_text{
    display: flex;
justify-content: center;
    align-items:center;
    flex-basis: 30%;
    font-size: 3em;
    border-radius: 5px;
    font-weight: 400;
    color:white;
    font-family: Impact,fantasy;
    background-color:rgb(285,160,86) ;
}
.bar_color{
    width: 0;
    height: 2vh;
    background-color: rgb(138,242,111);
}

#close{
    color:rgb(114,182,212) ;
    background-color: rgb(114,182,212);
    user-select: none;
}
.result{
    background-color: #ffd1cc;
    border-radius: 30px;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width:55vw;
    opacity: 0;
    top:12%;
    z-index: -1;
    justify-content: center;
    align-items: flex-start;
    transition: opacity 1.5s  ease-in;

}
.result_mid{

    padding-bottom: 5vh;

    display: flex;
    flex-basis: 100%;
   flex-wrap: wrap;
    align-content: flex-start;
    border-radius: 30px 30px 0 0;
}
.icons_mid_res{
    margin-top: 4vh;


}
.cup{
    flex-basis: 25%;
    height: 55vh;
    display: flex;
    align-items: center;
    position: absolute;
}

.lvl_img{
    max-height: 200px;
}
.lvl_text{
    font-weight: 700;
    margin: 2vh 0 4vh 0;
    flex-basis:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;

}
.lvl_img{
    margin-top: 3vh;
    height: 20vh;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
}
.lvl_img_text{
    margin-top: -2vh;
    font-size: 2.1em;
    font-weight: 700;
    background-color: white;
    flex-basis: 15%;
    z-index: 1;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    font-family: Arial, sans-serif ;

}
.fotter_mid_text{
    flex-wrap: wrap;
    margin-top: 5vh;
    display: flex;
    flex-basis: 100%;
    justify-content: center;align-items: center;
    font-size: 2em;
}
.f_m_t{
    margin-top: 5vh;
    font-weight: 400;
    display: flex;
    text-align: center;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
}
.icons_mid_res{

    flex-basis: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.icons_mid_res img{
    width: 70px;
    height: 70px;
}
.oblako{
    justify-self: flex-end;
    position: absolute;
    margin-left: 40vw;
    margin-bottom: 32vh;

}
.oblako img{
    width: 250px;
    height: 150px;
    position: absolute;

}


.cup img{
    width: 100%;
    height: 30vh;
}
.lvl_img img{
    width: 250px;
    height: 250px;
    position: absolute;
}
@media screen and (max-width: 1500px){
    .lvl_img_text{
        font-size: 2em;
        flex-basis: 22%;
        height: 15vh;
    }
}

@media screen and (max-width: 1340px){
    .logo img{
        width: 200px;
        height: 200px;
    }
    .lvl_img_text{
        font-size: 2em;
        flex-basis: 22%;
    }
    .f_m_t{
        flex-basis: 60%;
    }
}
@media screen and (max-width: 1160px){
    .result{
        width: 65vw;
    }
    .logo img{
        width: 170px;
        height: 170px;
    }
    .header_text{
        font-size: 4em;
        height: 10vh;
    }
    .header_text_2_1{
        height: 10vh;
        font-size: 2em;
        flex-basis: 60%;
    }

}
@media screen and (max-width: 1024px) {
    .logo img{
        width: 150px;
        height: 150px;
    }
    .logo{
        height: 1vh;
    }
    .cup img{
        width: 200px;
        height: 200px;
        margin-top: 5vh;
    }
    .cup{
        display: flex;
        height: 60vh;
    }
    .f_m_t{
        font-size: 0.8em;
        margin-top: 5vh;
    }
    .lvl_img_text{
        height: 120px;
        width: 120px;
    }
}
@media screen and (max-width: 768px) {

    .logo img{
        display: none;
    }
    .logo2{
        display: flex;
    }
    .logo2 img{
        width: 200px;
        height: 200px;
        margin-right: 10vw;
    }
    .header_text_2_1{
        font-size: 2em;
        text-align: left;
        flex-basis: 40%;
        display: flex;
        height: auto;
        margin-left: 5vw;
        justify-content: flex-start;
    }
    .wrap{
        overflow-y: scroll;
    }
    .mid_test{
        height: 100vh;
        flex-basis: 100%;
    }
    .progress_bar{
        position: absolute;
        bottom: 1px;
        left: 0;
    }
    .header_text{
        font-size: 3.5em;
    }


    .header_text_2{
        height: 20vh;
        display: flex;
        justify-content: space-between;
    }
    .result{
        width: 80vw;
    }
    .cup img{
        width: 180px;
        height: 180px;
        margin-top: 5vh;
    }
    .cup{
        display: flex;
        height: 60vh;
    }
    .f_m_t{
        font-size: 0.8em;
        margin-top: 5vh;
    }
    .lvl_img_text{
        height: 120px;
        width: 120px;
    }
}
@media screen and (max-width: 650px) {
    .header_text_2_1{
        font-size: 1.7em;

    }
    .header_text{
        height: 3vh;
        font-size: 2.7em;

    }
    .f_m_t{
        flex-basis: 100%;
    }
    .lvl_text{
        font-size: 2.5em;
    }
    .lvl_img_text{
        flex-basis: 28%;
        height: 120px;
    }
    .cup img{
        width: 160px;
        height: 160px;
    }
    .icons_mid_res  img{
        width: 50px;
        height: 50px;
    }
}
@media screen and (max-width: 500px) {
    .result{
        width: 90vw;

    }
    .question{
        font-size: 0.8em;
    }
    .finish_text{
        flex-basis: 40%;
    }
    .cup img{
        width: 110px;
        height: 110px;
    }
    .header_text{
        height: 3vh;
        font-size: 2.3em;

    }
    .header_text_2_1{
        font-size: 1.4em;

    }
    .lvl_text{
        font-size: 1.8em;

    }
    .lvl_img_text{
        flex-basis: 35%;
        height: 120px;
    }
}
@media screen and (max-width: 420px) {
    .f_m_t{
        font-size: 0.7em;
    }
    .header_text{
        font-size: 1.5em;
        height: 2vh;

    }
    .logo2 img{
        width: 160px;
        height: 160px;
    }
    .header_text_2_1{
        font-size: 1.2em;
    }
    .lvl_img img{
        width: 200px;
        height: 200px;
    }
    .lvl_img_text{

        height: 100px;
        font-size: 1.4em;
    }
}
@media screen and (max-height: 850px) {
    .result{
        top:0;
    }
}
@media screen and (min-height: 1200px) {

    .result,.result_mid{
        max-height: 800px;
    }
    .lvl_img{
        max-height: 50px;
    }
    .lvl_img_text{
        margin-top: 0;
    }
    .cup {

        display: none;
        align-items: center;
    }
    .cup img{

    }
    .f_m_t{
        font-size: 40px;
        flex-basis: 98%;
    }
    .header_text{
        max-height: 80px;
    }
    .header_text_2_1{
        max-height: 120px;
        font-size: 3em;
    }
}
@media screen and (min-height: 800px) and (min-width: 1600px) {
    .icons_mid_res img{
        width: 40px;
        height: 40px;
    }
    .f_m_t{
        flex-basis: 100%;
        margin-top: 3vh;
    }
    .lvl_img{
        margin-top: 2vh;
    }
}
@media screen and (min-height: 800px) {
    .question{
        font-size: 0.8em;
    }
    .finish_text{
        font-size: 2.3em;
    }


}
